@model Mcd.HospitalManagement.Web.Models.UserRoleModel 

<h3>Delete User Role</h3> 

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Role)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role)
        </dd>

    </dl>

    @using (Html.BeginForm("Delete", "UserRole", FormMethod.Post, new { @id = "form" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" id="submit" value="Delete" class="btn btn-primary" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
<div id="notificationSuccess" class="alert alert-success msgBoxx" role="alert">
    <div id="messageSuccess"></div>
    <label id="successMsg"></label>
</div>
<div id="notificationError" class="alert alert-danger" role="alert">
    <div id="messageError"></div>
</div>

@section Scripts {

    <script type="text/javascript">

        $(document).ready(function () {
            $('#notificationSuccess').hide();
            $('#notificationError').hide();

            $('#submit').click(function () {

                var jsonObj = $('#form').serialize();

                $.ajax({
                            type: "POST",
                            url: '@Url.Action("Delete")',
                            data: $('#form').serialize(),
                            success: function (data) {
                                $('#submit').hide();
                                TriggerMsg(data.Message);
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                alert("Error: " + errorThrown + " , Please try again");

                            }
                        });
                return false;

            });

        });


        function TriggerMsg(value) {
            alert(value);
            return false;
        }


    </script>


}