@model Mcd.HospitalManagement.Web.Models.PatientModel

@{
    ViewBag.Title = "Index";
}


<h2>View Patient Details</h2>
<div class="row">
    <div class="col-xs-3">
        <ol class="breadcrumb">
            @if ((string)Session["USERROLE"] == "Admin")
            {
                <li><a href="~/AdminHome/Index">Home</a></li>
            }
            else
            {
                <li><a href="~/HomePage/HomePageForClerk">Home</a></li>
            }
            <li class="active">All Patient Details</li>
        </ol>
    </div>
</div>


<div class="col-xs-2">
    <ul class="nav nav-pills" role="tablist">
        <li role="presentation" class="active"><a href="~/Patient/CreatePatientDetails">Add Patient</a></li>
        <li role="presentation"><a href="~/PatientAdmissionDetails/Index">Patient Details</a></li>
        <li role="presentation"><a href="~/PatientFeedback/Index">FeedBack Details</a></li>
        <li role="presentation" ><a href="~/DoctorRecommendation/Index">Recomended Doctors</a></li>


    </ul>
</div>

<div class="col-xs-10">

    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Name")
            </th>
            <th>
                @Html.DisplayName("NIC")
            </th>
            <th>
                @Html.DisplayName("Address")
            </th>
            <th>
                @Html.DisplayName("Gender")
            </th>
            <th>
                @Html.DisplayName("Mobile Number")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Patients)
        {

            <tr class="warning">
                <td>
                    @Html.DisplayFor(m => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(m => item.NIC)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(m => item.MobileNo)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditPatientDetails", new { id = item.Id }) |
                    @Html.ActionLink("Details", "DetailsPatientDetails", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "DeletePatientDetails", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>
