@model Mcd.HospitalManagement.Web.Models.InvoiceDetailsModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
@if (true) {
    ViewBag.Message = "This option is not available";
}
else { 
@*@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    @*<div class="form-horizontal">
        <h4>Invoice</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.PatientDetailId, "PatientDetailId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PatientDetailId", String.Empty)
                @Html.ValidationMessageFor(model => model.PatientDetailId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InvoiceDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InvoiceDate)
                @Html.ValidationMessageFor(model => model.InvoiceDate)
            </div>
        </div>*@

    //    <div class="form-group">
    //        <div class="col-md-offset-2 col-md-10">
    //            <input type="submit" value="Save" class="btn btn-default" />
    //        </div>
    //    </div>
    //</div>
}




}